fastapi
uvicorn
pydantic
python-dotenv
phidata
streamlit
requests
groq
fastapi
uvicorn
unstructured>=0.6.8
streamlit
python-dotenv
langchain
langchain_community
langchain_text_splitters
langchain_core
gpt4all

